<!DOCTYPE html>
<html lang="en" ng-app="myApp" ng-cloak>
<head>
<meta charset="utf-8" />
<META http-equiv="Expires" content="0">
<META http-equiv="Cache-Control"
	content="no-store, no-cache, must-revalidate">
<META http-equiv="Pragma" content="no-cache">
<title translate='fums_management'></title>
<link rel="stylesheet" type="text/css" href="www/src/css/common.css">
	<link rel="stylesheet" type="text/css" href="www/src/font/css/font-awesome.css">
<link rel="stylesheet" type="text/css" href="www/lib/bootstrap/dist/css/bootstrap.css">
</head>
<body ng-controller="indexCtrl">
	
	<div class="container-fluid">
		<div class="common-head">
			<div class="pull-left col-md-2">
				<img src="www/src/img/logo.png" alt="">
			</div>
			<span class="pull-left text-center head-title">{{1000|translate}}</span>
			<div class="pull-left">
				<ul class="menu-list col-md-12 flex-wrap index-head-title">
					<li class="flex text-center" ng-repeat="item in menuList">
						<a ui-sref="{{item.name}}" style="color:#fff">{{item.firstMenu}}</a></li>
				</ul>
			</div>
			<div class="pull-right  text-center" ng-click="goCurrent()">
				当前告警
			</div>
			<div class="pull-right  text-center">
				<a href="#" class="language-setting" ng-click="flag=!flag">{{1001|translate}}
					<ul class="language-choose" ng-show="flag">
						<li ng-click="switchLanguage('zh-cn')">中文</li>
						<li ng-click="switchLanguage('zh-en')">English</li>
					</ul>
				</a>
			</div>
		</div>
		<div ui-view ></div>

		
	</div>

	<script type="text/javascript" src="www/lib/angular/angular.js"></script>
	<script src="www/lib/ng-file-upload/ng-file-upload.js"></script>
	<script src="www/lib/ng-file-upload/ng-file-upload-shim.js"></script>
	<script type="text/javascript" src="www/lib/angular-ui-router/release/angular-ui-router.js"></script>
	<script src="www/lib/angular-translate/angular-translate.js"></script>
	<script src="www/lib/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
	<script type="text/javascript" src="www/lib/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="www/lib/bootstrap/dist/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="www/src/js/app.js"></script>
	<script type="text/javascript" src="www/src/js/config.js"></script>
	<script type="text/javascript" src="www/src/js/filter.js"></script>
	<script type="text/javascript" src="www/src/js/factory.js"></script>
	<script type="text/javascript" src="www/src/js/service.js"></script>
	<script type="text/javascript" src="www/src/js/constant.js"></script>

	<script type="text/javascript" src="www/src/modules/home/homeController.js"></script>
	<script type="text/javascript" src="www/src/modules/changemodeController.js"></script>
	<script type="text/javascript" src="www/src/modules/queryController.js"></script>
	<script type="text/javascript" src="www/src/modules/currentController.js"></script>
	<script type="text/javascript" src="www/src/modules/listController.js"></script>

	<script src="www/lib/My97DatePicker/WdatePicker.js"></script>
	<script type="text/javascript" src="www/src/js/directive.js"></script>
	<script type="text/javascript" src="www/src/js/indexCtrl.js"></script>
	<!-- 分页指令 -->
	<script type="text/javascript" src="www/src/js/directive/page/pageController.js"></script>
</body>