<div class="page-content">
	<div class="float-left"><span>共找到记录：</span>{{}}</div>
	<div class="float-right">
		<a class="first" ng-click="goFirstPage()"><img src="www/src/img/icon_2_focus.png"></a>
		<a class="prev" ng-click="goPrevPage()"><img src="www/src/img/icon_1_focus.png"></a>
		<input type="text" name="" value=1 class="currentPage">
		<a class="next" ng-click="goNextPage()"><img src="www/src/img/icon_1_next.png"></a>
		<a class="last" ng-click="goLastPage()"><img src="www/src/img/icon_2_next.png"></a>
	</div>
</div>