html { color:#000;} 
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td { margin:0; padding:0; }
body{ font: 12px/1.5  Microsoft YaHei,Arial,sans-serif; color:#333;height:100%; } 
h1, h2, h3, h4, h5, h6 { font-size:100%; font-weight:normal; } 
section, header, article, time, nav, footer, figure, figcaption { display:block; margin:0; padding:0; }
 input:focus, a:focus { outline:none; } 
fieldset, img { border:0; } 
address, caption, cite, code, dfn, em, th, var { font-style:normal; font-weight:normal; } 
ol, ul { list-style:none; } 
caption, th { text-align:left; } 
h1, h2, h3, h4, h5, h6 { font-size:100%; font-weight:normal; } 
q:before, q:after { content:''; } 
abbr, acronym { border:0; font-variant:normal; } 
sup { vertical-align:text-top; }
sub { vertical-align:text-bottom; } 
button, input, textarea, select { font-family:Microsoft YaHei, arial, simsun, sans-serif; font-size:inherit; font-weight:inherit; line-height:1.5; vertical-align:middle; } 
button, input, textarea, select { *font-size:100%; } 
textarea { resize:none; }
legend { color:#000; }
a{ vertical-align:baseline; } 
a{ text-decoration:none; }
a:hover{text-decoration:none;} 
.clear { display:block; float:none; clear:both; overflow:hidden; visibility:hidden; width:0; height:0; background:none; border:0; font-size:0; } 
.clearfix:before, 
.clearfix:after { content:""; display:table; }
.clearfix:after { clear:both; }
.clearfix{ zoom:1; }
i{font-style:normal}

/*自定义公共样式*/
.float-left{float:left}
.float-right{float:right}

/*index.html样式*/
.common-head{ background: #3681ba !important; height: 60px;line-height:60px;color:#fff}
.head-title{font-size:20px!important}

.language-setting{display:block;width:100px;height:60px;line-height:60px;color:#fff;position:relative}
.language-setting:hover{text-decoration: none;color:#fff}
.language-choose{position:absolute;top: 60px;left: 0; width: 100px;color: #222;z-index:100}
.language-choose li{height:40px;line-height:40px}
/*.language-setting:hover .language-choose{display:block;background:#e4e4e4;color:#222}*/

.language-choose a{display:block}

.menu-list{height:60px;}
.menu-list li{height:100%;font-size: 16px;padding:0 20px;}

.menu-list li i{padding:5px 10px}

.feature-nav{height:40px;line-height:40px;font-size:16px}
table th,table td{text-align:center}

/*指令样式*/
.page-content{height:40px;line-height: 40px}
.page-content .currentPage{width:28px;height:28px;text-align:center}


.flex-wrap{display:flex}
.flex{flex:1}

.view-wrap{
	position: absolute;
	top: 60px;
	left: 15px;
	right: 15px;
	bottom: 0;
}

 







.radius{border-radius: 2px}
.flex{
    display: flex;

}
.mdChild-flex{
    
    flex:4
}
.after-left-border:before {
	top: 0;
	left: 0;
	width: 1px;
	height: 100%;
	transform: scaleX(0.2);
}
